In [2]:
# 2021-03-12 (edited)

# Import master csv file
input_dir = './emr_autoencoder'

# csv_name = 'wandb_export_2022-05-04T00_45_53.316+09_00.csv'
csv_name = 'conv_fl_predict.csv'
output_dir = './wandb_table/pivot_table'

import pandas as pd
import numpy as np
import os

# Basic data cleaning
data = pd.read_csv(os.path.join(input_dir,csv_name))
rundata = data.copy().round(3)

In [3]:
test_columns = [col for col in rundata.columns if 'test' in col and 'auprc' in col]

In [5]:
rundata.columns

Index(['Name', 'State', 'Notes', 'User', 'Tags', 'Created', 'Runtime', 'Sweep',
       'DDP', 'batch_size', 'debug', 'device_ids', 'device_num',
       'disable_save', 'disable_validation', 'dp', 'dropout', 'embed_dim',
       'embed_list', 'encode_model', 'epochs', 'event_latent_dim',
       'event_n_heads', 'event_n_layers', 'event_seq_multiplier',
       'event_spatial_dim', 'input2emb_model', 'input_path', 'latent_dim',
       'lr', 'lr_mode', 'map_layers', 'max_seq_len', 'max_word_len', 'model',
       'n_heads', 'n_layers', 'n_layers_rnn_enc', 'output_path', 'patience',
       'port', 'pos_enc', 'pred_pooling', 'pred_target', 'resume',
       'rnn_hidden_dim', 'seed', 'spatial_dim', 'split_method', 'src_data',
       'structure', 'table', 'train_task', 'valid_subsets',
       'wandb_project_name', 'wandb_run_name', 'world_size', 'epoch',
       'num_params', 'test/mimic3_auprc', 'test/mimic3_auroc',
       'test/mimic3_loss', 'train/mimic3_auprc', 'train/mimic3_auroc',
       'train/mimic3_loss', 'valid/mimic3_auprc', 'valid/mimic3_auroc',
       'valid/mimic3_loss'],
      dtype='object')

In [9]:
#temp = rundata.loc[:, ['input2emb_model','pred_target', 'table', 'seed', 'src_data']+test_columns]
temp = rundata.loc[:, ['pred_target', 'structure', 'seed', 'src_data', 'test/mimic3_auprc','spatial_dim', 'latent_dim']]

In [27]:
temp['test_mimic3_auprc'].fillna(temp['test/mimic3_auprc'], inplace=True)
temp['test_eicu_auprc'].fillna(temp['test/eicu_auprc'],inplace=True)

In [28]:
test_columns

['test/eicu_auprc',
 'test/mimic3_auprc',
 'test/mimic4_auprc',
 'test_eicu_auprc',
 'test_mimic3_auprc',
 'test_mimic4_auprc']

In [29]:
temp

,input2emb_model,pred_target,table,seed,src_data,test/eicu_auprc,test/mimic3_auprc,test/mimic4_auprc,test_eicu_auprc,test_mimic3_auprc,test_mimic4_auprc
0,codeemb_bert,mort,whole,2020,mimic4,NaN,NaN,NaN,NaN,NaN,NaN
1,codeemb,fi_ac,whole,2024,mimic3,NaN,0.351,NaN,NaN,0.351,NaN
2,codeemb,fi_ac,whole,2023,mimic3,NaN,0.333,NaN,NaN,0.333,NaN
3,codeemb,fi_ac,whole,2022,mimic3,NaN,0.329,NaN,NaN,0.329,NaN
4,codeemb,fi_ac,whole,2021,mimic3,NaN,0.341,NaN,NaN,0.341,NaN
...,...,...,...,...,...,...,...,...,...,...,...
685,codeemb_rnn,readm,select,2020,mimic3,NaN,NaN,NaN,NaN,0.068,NaN
686,codeemb_rnn,fi_ac,select,2020,mimic3,NaN,NaN,NaN,NaN,0.390,NaN
687,codeemb_rnn,im_disch,select,2020,mimic3,NaN,NaN,NaN,NaN,0.595,NaN
688,codeemb_rnn,los7,select,2020,mimic3,NaN,NaN,NaN,NaN,0.376,NaN
689,codeemb_rnn,los3,select,2020,mimic3,NaN,NaN,NaN,NaN,0.627,NaN

In [30]:
temp.head()

,input2emb_model,pred_target,table,seed,src_data,test/eicu_auprc,test/mimic3_auprc,test/mimic4_auprc,test_eicu_auprc,test_mimic3_auprc,test_mimic4_auprc
0,codeemb_bert,mort,whole,2020,mimic4,NaN,NaN,NaN,NaN,NaN,NaN
1,codeemb,fi_ac,whole,2024,mimic3,NaN,0.351,NaN,NaN,0.351,NaN
2,codeemb,fi_ac,whole,2023,mimic3,NaN,0.333,NaN,NaN,0.333,NaN
3,codeemb,fi_ac,whole,2022,mimic3,NaN,0.329,NaN,NaN,0.329,NaN
4,codeemb,fi_ac,whole,2021,mimic3,NaN,0.341,NaN,NaN,0.341,NaN

In [13]:
#temp = temp[temp['src_data']!='mimic4']
#temp['auprc'] = temp.apply(lambda x: x['test/'+x['src_data']+'_auprc'], axis=1)
temp['auprc'] = temp.apply(lambda x: x['test/'+x['src_data']+'_auprc'], axis=1)
#temp = temp[['input2emb_model','pred_target','table', 'seed', 'src_data', 'auprc']]
temp.head()

,pred_target,structure,seed,src_data,test/mimic3_auprc,spatial_dim,latent_dim,auprc
0,fi_ac,fl,2022,mimic3,0.299,64,8192,0.299
1,fi_ac,fl,2022,mimic3,0.325,64,8192,0.325
2,fi_ac,fl,2022,mimic3,0.323,64,8192,0.323
3,fi_ac,fl,2022,mimic3,0.312,8,256,0.312
4,im_disch,fl,2022,mimic3,0.588,64,8192,0.588

In [ ]:
pd.DataFrame(temp.groupby(['input2emb_model','pred_target', 'table','src_data'])['seed'].apply(set).apply(list)).head()

In [115]:
pd.DataFrame(temp.groupby(['input2emb_model','pred_target', 'table','src_data'])['auprc'].apply(set).apply(list)).head()

                                                                                         auprc
input2emb_model pred_target table  src_data
codeemb         dx          select eicu      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                   mimic3                          [0.755, 0.759, 0.76, 0.753]
                            whole  eicu      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                   mimic3                         [0.755, 0.752, 0.754, 0.747]
                fi_ac       select eicu                              [nan, nan, nan, nan, nan]

In [32]:
def max_list(x):
    
    seed_list = [np.nan]*5
    for i,j in zip(x.seed, x.auprc):
        seed_list[i-2020] = j
    return seed_list

auprc = pd.DataFrame(temp.groupby(['input2emb_model','pred_target', 'table','src_data'])[['seed', 'auprc']].apply(max_list))
#auprc.to_csv('./data/wandb/auprc.csv')

In [33]:
def max_list(x):
    
    seed_list = [np.nan]*5
    for i in x:
        seed_list[i-2020] = i
    return seed_list
    
    
seed = pd.DataFrame(temp.groupby(['input2emb_model','pred_target', 'table','src_data'])['seed'].apply(set).apply(list).apply(max_list))
#seed.to_csv('./data/wandb/seed.csv')

In [34]:
auprc.reset_index(inplace=True)
split_df = pd.DataFrame(auprc[0].tolist(), columns=['2020','2021','2022','2023','2024'])
df = pd.concat([auprc, split_df], axis=1)
df = df.drop(0, axis=1)
df.head()

,input2emb_model,pred_target,table,src_data,2020,2021,2022,2023,2024
0,codeemb,dx,select,eicu,0.675,0.687,0.681,0.676,0.677
1,codeemb,dx,select,mimic3,0.760,0.759,0.753,0.759,0.755
2,codeemb,dx,select,mimic4,NaN,NaN,NaN,NaN,NaN
3,codeemb,dx,whole,eicu,0.683,0.684,0.680,0.685,0.688
4,codeemb,dx,whole,mimic3,0.754,0.754,0.747,0.752,0.755

In [75]:
# df.to_csv('./data/wandb/seed2column.csv', index=False)

In [12]:
seed.reset_index(inplace=True)
split_df = pd.DataFrame(seed['seed'].tolist(), columns=['2020','2021','2022','2023','2024'])
df = pd.concat([seed, split_df], axis=1)
df = df.drop('seed', axis=1)
df.head()

,input2emb_model,pred_target,table,src_data,2020,2021,2022,2023,2024
0,descemb,dx,select,eicu,2020,2021.0,2022.0,2023.0,2024.0
1,descemb,dx,select,mimic3,2020,2021.0,2022.0,2023.0,2024.0
2,descemb,dx,select,mimic4,2020,2021.0,2022.0,2023.0,2024.0
3,descemb,dx,whole,eicu,2020,2021.0,2022.0,2023.0,2024.0
4,descemb,dx,whole,mimic4,2020,2021.0,2022.0,2023.0,2024.0

In [27]:
df.to_csv(os.path.join(output_dir, 'DescEmb0507_df.csv'), index=False)

In [47]:
result_mean = pd.pivot_table(temp,
                       columns = [ 'table', 'input2emb_model'],
                          index = ['pred_target','src_data','seed'],
                       values = ['test_mimic3_auprc', 'test_eicu_auprc', 'test_mimic4_auprc'],
                    )

In [54]:
temp

,input2emb_model,pred_target,table,seed,src_data,test/eicu_auprc,test/mimic3_auprc,test_eicu_auprc,test_mimic3_auprc,test_mimic3_eicu_auprc,test_mimic3_mimic4_auprc,test_mimic3_mimic4_eicu_auprc,test_mimic4_auprc,test_mimic4_eicu_auprc
0,descemb_bert,los3,whole,2024,mimic3_mimic4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,descemb,los3,whole,2022,mimic3_mimic4_eicu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,descemb_bert,los3,whole,2024,mimic3_mimic4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,descemb,los3,whole,2022,mimic3_mimic4_eicu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,descemb_bert,los3,whole,2024,mimic3_mimic4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,descemb_rnn,los3,select,2024,mimic3_mimic4,NaN,NaN,NaN,0.609,NaN,0.571,NaN,0.533,NaN
535,descemb_rnn,los3,select,2023,mimic3_mimic4,NaN,NaN,NaN,0.622,NaN,0.563,NaN,0.521,NaN
536,descemb_rnn,los3,select,2022,mimic3_mimic4,NaN,NaN,NaN,0.606,NaN,0.563,NaN,0.529,NaN
537,descemb_rnn,los3,select,2021,mimic3_mimic4,NaN,NaN,NaN,0.607,NaN,0.555,NaN,0.516,NaN
538,descemb_rnn,los3,select,2020,mimic3_mimic4,NaN,NaN,NaN,0.601,NaN,0.563,NaN,0.529,NaN

In [184]:
temp.columns

Index(['input2emb_model', 'pred_target', 'table', 'seed', 'src_data',
       'test/eicu_auprc', 'test/mimic3_auprc', 'test_eicu_auprc',
       'test_mimic3_auprc', 'test_mimic3_eicu_auprc',
       'test_mimic3_mimic4_auprc', 'test_mimic3_mimic4_eicu_auprc',
       'test_mimic4_auprc', 'test_mimic4_eicu_auprc'],
      dtype='object')

In [15]:
result_mean = pd.pivot_table(temp,
                       columns = ['src_data','structure', 'latent_dim', 'spatial_dim'],
                          index = ['pred_target', 'seed'],
                       values = ['auprc'],
                    )

In [16]:
result_mean

                     auprc                                                    \
src_data            mimic3
structure               fl
latent_dim            256                                     4096
spatial_dim            4         8         32        64        32        64
pred_target seed
dx          2022  0.731667  0.729000  0.717333  0.708333  0.731000  0.722333
fi_ac       2022  0.328667  0.320333  0.308333  0.293000  0.333667  0.313667
im_disch    2022  0.589333  0.582667  0.581333  0.574000  0.587000  0.573333
los3        2022  0.652333  0.638000  0.633000  0.638000  0.634000  0.618667
los7        2022  0.355667  0.332667  0.333000  0.300000  0.326000  0.310000
mort        2022  0.147667  0.093667  0.072000  0.100667  0.103333       NaN
readm       2022  0.086333  0.061000  0.063333  0.188000  0.060667  0.061667

                                                                              \
src_data
structure
latent_dim                                8192
spatial_dim            128       256       32        64        128       256
pred_target seed
dx          2022  0.697667  0.695667  0.731667  0.723333  0.704000  0.690333
fi_ac       2022  0.307000  0.300333  0.336333  0.315667       NaN       NaN
im_disch    2022  0.575333  0.552000  0.587333  0.591667  0.564000       NaN
los3        2022  0.608667  0.604333  0.641333  0.621667  0.616667  0.591667
los7        2022  0.309333  0.286333  0.331000  0.328333  0.302333  0.284333
mort        2022  0.052667       NaN  0.146667  0.069333  0.045667  0.042000
readm       2022  0.061000  0.062667  0.068667  0.060333  0.061000  0.058667


src_data
structure
latent_dim
spatial_dim            512
pred_target seed
dx          2022  0.690000
fi_ac       2022       NaN
im_disch    2022  0.547667
los3        2022  0.596333
los7        2022  0.277667
mort        2022  0.284000
readm       2022  0.058000

In [37]:
result_mean.to_csv('/home/ghhur/wandb_table/result_table/CodeEmb_0511.csv')

In [13]:
# def generate_table(result_file:pd.DataFrame, seed_count=False, count_flag=True, std=False, rounding=True):
    
    
#     # Possible combinations for our models
#     conditionlist = [(result_file['bert_induced'] == False),
#                      (result_file['bert_induced'] == True) & (result_file['bert_freeze'] == True) & 
#                              (result_file['cls_freeze'] == True),
#                      (result_file['bert_induced'] == True) & (result_file['bert_freeze'] == True) & 
#                              (result_file['cls_freeze'] == False),
#                      (result_file['bert_induced'] == True) & (result_file['bert_freeze'] == False)]
#     choicelist = ['singleRNN', 'DescEmb_FR', 'DescEmb_FT','BERTfinetune']
#     result_file['model_name'] = np.select(conditionlist, choicelist)
    
    
    
#     result_file = result_file.loc[:, ['model_name','bert_model','bert_induced','seed', 
#                                       'source_file', 'target','item','mimic_test_auprc', 'eicu_test_auprc']]
    
#     result_filter = result_file.copy() #.loc[result_file['target']==target]
     
#     result_mean = pd.pivot_table(result_filter,
#                                columns = ['source_file', 'model_name'],
#                                index = ['item','target','bert_induced', 'bert_model'],
#                                values = ['mimic_test_auprc', 'eicu_test_auprc'],
#                                aggfunc=['mean'])
    
#     result_std = pd.pivot_table(result_filter,
#                                columns = ['source_file', 'model_name'],
#                                index = ['item','target','bert_induced', 'bert_model'],
#                                values = ['mimic_test_auprc', 'eicu_test_auprc'],
#                                aggfunc=['std'])
    
#     result_count = pd.pivot_table(result_filter,
#                                columns = ['source_file', 'model_name'],
#                                index = ['item','target','bert_induced', 'bert_model'],
#                                values = ['mimic_test_auprc', 'eicu_test_auprc'],
#                                aggfunc=['count'])
    
#     if count_flag == True:
#         if rounding==True:
#             RM_drop = result_mean.droplevel([0], axis=1).round(3)
#             RS_drop = result_std.droplevel([0], axis=1).round(3)
#         elif rounding == False:
#             RM_drop = result_mean.droplevel([0], axis=1)
#             RS_drop = result_std.droplevel([0], axis=1)
#         RC_drop = result_count.droplevel([0], axis=1)
        
#         RC_drop = RC_drop[RM_drop.columns]
        
#         for col in range(len(RM_drop.columns)): 
#             RM_drop.iloc[:,col][RC_drop.iloc[:,col] > 10] = 'over'
#             RM_drop.iloc[:,col][RC_drop.iloc[:,col] < 10] = 'under'   
            
#             RS_drop.iloc[:,col][RC_drop.iloc[:,col] > 10] = 'over'
#             RS_drop.iloc[:,col][RC_drop.iloc[:,col] < 10] = 'under'  
    
    
#     if seed_count==False:
#         if count_flag == True:
#             if std==True:
#                 return RS_drop
#             elif std==False:
#                 return RM_drop
#         elif count_flag == False:
#             if std==True:
#                 return result_std
#             elif std==False:
#                 return result_mean
    
#     elif seed_count==True:
#         return RC_drop

In [14]:
# generate_table(rundata, count_flag=True)

In [24]:
np.random.randn(7,10)

array([[-0.70257034,  0.45505585,  0.54270247,  1.02743403, -0.58353156,
         0.26848302,  0.24335829, -1.34944451, -1.13241235,  2.57152697],
       [-0.35799741, -0.92571142,  2.09326633, -1.11866771,  1.92369863,
        -1.62386046,  1.13904219, -1.49486601, -0.40553147, -0.33189193],
       [-0.1655042 , -0.2676731 ,  0.03735935,  1.580526  , -0.26821696,
         1.24967458, -1.66617209,  1.1795024 , -0.01691255, -0.70122732],
       [ 0.81555023,  2.2059718 ,  0.79013404,  0.75528793, -1.29565502,
        -0.62857485, -0.75125454,  0.41077678,  0.3041527 ,  1.64839236],
       [-1.67219418, -0.01989959, -0.69980752, -0.29967655,  0.48538185,
        -0.00330855, -0.83122491, -1.01591898,  1.0186925 ,  0.75558043],
       [ 0.61273175, -0.77710616, -0.13067262,  0.36283519,  0.41249328,
         0.78582911,  1.15053125, -1.86929601,  0.73064122, -2.08306015],
       [ 0.13460198, -1.59609985,  0.12975001, -0.47786312,  0.46132478,
        -0.2349158 ,  0.02765027,  1.13764372, -0.84742072,  0.89247638]])